<link rel="stylesheet" href="/css/header.css" type="text/css">

<div class="container-fluid">
  <div class="row">
    <nav class="navbar sticky-top header">
      <a class="navbar-brand" href="#">
        <span> <img height="40px" width="40px "
            src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-yoga-alternative-medicine-flaticons-lineal-color-flat-icons.png"
            alt="external-yoga-alternative-medicine-flaticons-lineal-color-flat-icons" />
          Authentication App</span>
      </a>
      
      <a class="navbar-brand fs-6 " href="<%=link%>" id="change">
        <%=log%> <span id="user"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
      </a>

  </div>
  </nav>
</div>


</div>